parserOptions:
  ecmaVersion: 2019

rules:
  indent: ["error", 4, {
    "SwitchCase": 1
  }]
  no-unused-vars: ["error", {
    "vars": "all",
    "args": "after-used",
    "ignoreRestSiblings": false
  }]
  "space-before-function-paren": ["error", {
    "anonymous": "never",
    "named": "never",
    "asyncArrow": "always"
  }]
  "prefer-arrow-callback": 1

