extends:
  eslint:recommended

parserOptions:
  ecmaVersion: 2019

env:
  es6: true
  node: true

rules:
  indent: ["error", 4, {
    "SwitchCase": 1
  }]
  no-unused-vars: ["error", {
    "vars": "all",
    "args": "after-used",
    "ignoreRestSiblings": false
  }]
  "space-before-function-paren": ["error", {
    "anonymous": "never",
    "named": "never",
    "asyncArrow": "always"
  }]
  "prefer-arrow-callback": 1
  "no-async-promise-executor": 0
  "require-atomic-updates": 0
  "comma-dangle": ["error", {
    "arrays": "always-multiline",
    "objects": "always-multiline",
    "imports": "always-multiline",
    "exports": "always-multiline",
    "functions": "never"
  }]
  no-console: ["warn"]

